* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.blackNav{
    background-color: #24292f;
    height: 70px;
    display: flex;
    justify-content: center;
}

.blackNav div:first-child {
    width: 1440px;
    height: 100%;
    display: flex;
    border: 1px solid white;
}

.blackNavLeft {
    flex-basis: 35%;
    border: 1px solid white;
    display: flex;
}

.blackNavLeft > button {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: white;
}

.blackNavLeft > ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.blackNavLeft li {
    font-size: 16px;
    color: white;
    padding: 15px;
}






.blackNavCenter {
    flex-basis: 30%;
    border: 1px solid white;
}

.blackNavRight {
    flex-basis: 35%;
    border: 1px solid white;
}