* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

div {
    border: 1px solid black;
}

main {
    width: 1140px;
    margin: auto;
}

header {
    height: 200px;
    display: flex;
}

header > section:nth-child(1) {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > section:nth-child(2) {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
header > section:nth-child(3) {
    flex-basis: 15%;
}

#home-logo {
    width: 125px;
}

.search-area {
    width: 500px;
}

.search-area fieldset{
    padding: 2px;
    margin: 0px;
    border: 2px solid #455ba8;
    border-radius: 5px;

    display: flex;
}

#quary {
    padding: 10px;
    margin: 18px;
    font-weight: bold;
    border: none;
    outline: 0;
    width: 92%;
}

#search-tbn {
    width: 8%;
    cursor: pointer;
    font-size: 1.2em;
    color: #455ba8;
    background-color: transparent;
    border: 0;
}